@top: 3em;

.swaggerWrold {
  position: absolute;
  border: 1px solid black;
  top: @top;
  left: -20em;
}
.gear {
  text-align: center;
  transform: scale(6);
}
.jsWorld {
  position: absolute;
  right: -20em;
  top: @top;
  border: 1px solid black;
}
