body {
  font-family: "PT Sans", sans-serif;
  min-height: 740px;
  line-height: 1;
  color: white;
  background-image: url(/asset/universe.jpg);
  background-size: 100% 100%;
}

a {
  color: #88b56d;
}

button {
  color: #204677;
}

li {
  line-height: 1.5em;
}

.border-circle {
  border-radius: 50%;
  border: 1px solid #ccc;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;

  background-color: #f5f5f5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 8px;

  background-color: #f5f5f5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: #555;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.step {
  position: relative;
  padding: 1em;
  margin: 1em auto;
  box-sizing: border-box;
  // backface-visibility: hidden;
}
.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
  display: flex;
}

h1,
h2,
h3,
h4 {
  button {
    font-size: inherit;
    border-radius: 1em;
    padding: 0.3em;
  }
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  opacity: 0.1;
  transition: opacity 1s;
}

.impress-enabled .step.active {
  opacity: 1;
}

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    ;)

    They cover everything what you see on first three steps of the demo.

    All impress.js steps are wrapped inside a div element of 0 size! This means that relative
    values for width and height (example: `width: 100%`) will not work. You need to use pixel
    values. The pixel values used here correspond to the data-width and data-height given to the
    #impress root element. When the presentation is viewed on a larger or smaller screen, impress.js
    will automatically scale the steps to fit the screen.
*/
.slide {
  display: block;

  width: 900px;
  height: 700px;
  padding: 40px 60px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
}

.slide q {
  display: block;
  font-size: 50px;
  line-height: 72px;

  margin-top: 100px;
}

.slide q strong {
  white-space: nowrap;
}

/*
    And now we start to style each step separately.

    I agree that this may be not the most efficient, object-oriented and
    scalable way of styling, but most of steps have quite a custom look
    and typography tricks here and there, so they had to be styled separately.

    First is the title step with a big <h1> (no room for padding) and some
    3D positioning along Z axis.
*/

.title {
  font-size: 3em;
}

/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.

*/
#overview {
  display: none;
}

.bigger {
  font-size: 2em;
}
.hoverBigger {
  transition: all;
  transition-duration: 0.5s;
  transform-origin: 0% 50%;
  &:hover {
    transform: scale(1.5);
    color: attr(data-color);
  }
}
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}

.indent {
  text-indent: 2em;
}

/*
color them from http://mayccoll.github.io/Gogh/
*/
.color1 {
  color: rgb(87, 61, 38);
}
.color2 {
  color: rgb(190, 45, 38);
}
.color3 {
  color: rgb(107, 161, 138);
}
.color4 {
  color: rgb(233, 157, 42);
}
.color5 {
  color: rgb(90, 134, 173);
}
.color6 {
  color: rgb(172, 128, 166);
}
.color7 {
  color: rgb(116, 166, 173);
}
.color8 {
  color: rgb(224, 219, 183);
}

.color9 {
  color: rgb(155, 108, 74);
}
.color10 {
  color: rgb(232, 70, 39);
}
.color11 {
  color: rgb(149, 216, 186);
}
.color12 {
  color: rgb(208, 209, 80);
}
.color13 {
  color: rgb(184, 211, 237);
}
.color14 {
  color: rgb(209, 158, 203);
}
.color15 {
  color: rgb(147, 207, 215);
}
.color16 {
  color: rgb(255, 249, 213);
}
